<div class="jumbotron">
  <h2>Welcome to Web QA</h2>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h3>
      <%= link "Let's go to page of voting !!", to: vote_path(@conn, :index), class: "btn btn-default" %>
    </h3>
  </div>
</div>
